includes:
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - src
        - database
    excludePaths:
        analyse:
            - src/HasMeta.php
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    databaseMigrationsPath:
        - database/migrations
    treatPhpDocTypesAsCertain: false

