name: Release

on:
  push:
    branches:
      - main

jobs:
  tests:
    name: Run Tests
    uses: ./.github/workflows/snippet-tests.yml

  release:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 20
      - name: "Install NodeJS"
        run: npm ci
      - name: "Release semantic-version"
        run: npm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
